:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-medium: #f8f9fa;
    --color-yellow: #fac32c;
}

.sign-up-form {
    margin-top: 110px !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border-radius: 0.2rem;
    border: 0.1vw solid #033B80;
}

.titleFormCard {
    width: 80%;
}

.hrInt {
    color: #033B80;
}

.cardColor1 {
    margin-right: 12px;
}

.borderShadow {
    border-radius: 0.2rem;
    border: 0.1vw solid #033B80;
}

.options {
    width: 80%;
    margin: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

.cardColor {
    margin: 10px;
}

.cardType {
    margin: 10px;
}

.fotterSweet {
    color: red;
}

.btn-createCard {
    padding: 8rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    width: 100%
}

.nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 0.2vw solid #033B80;
}


/* .titleAccounts {
    margin-top: 50px !important;
}

.accounts {
    margin-top: 120px !important;
} */

.h4Account {
    color: #033B99
}

.nav-link:hover {
    background-color: #077ccf;
    list-style-type: none;
    border-radius: 2rem 5s;
}

.navbar-brand>img {
    width: 200px;
    border-radius: 0.5px;
}

@media screen and (max-width: 376px) {
    .header-main {
        height: initial
    }
}

.buttonHere>a {
    display: flex;
    --size: 80px;
    width: var(--size);
    width: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.bg-primary {
    width: 100%;
    border-radius: 0.5vw;
    border: none;
}

.buttonHere>a :hover,
.sec-brands>a :hover {
    transition: .3s filter;
}

.buttonHere>a :hover,
.sec-brands>a :hover {
    filter: opacity(0.5);
}

.numberAccount {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.balanceAccount {
    display: flex;
}

.btn {
    border: none;
}

.buttonAccounts {
    display: flex;
    width: 100%;
    flex-direction: column;
}

hr {
    color: #08abfb
}

.portfolio-item>img {
    transition: 0.4s;
}

.portfolio-item:hover>img {
    transform: scale(0.96);
}

.bg-purple {
    background-color: rgba(131 87 235 / 0.3);
    filter: opacity(0.55);
}

.sec-brands {
    display: flex;
}

.logoFranquicia {
    display: flex;
    justify-content: center;
}

.h2Footer {
    font-size: 20px;
}

.redesSociales {
    display: flex;
}


/* CARD */


/* body {
    background: #033B80 !important;
} */

.rowCard {
    padding: 0 !important;
    border: 0 !important;
}

.card {
    width: 320px;
    height: 190px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    border-color: none;
    border: none;
}

.card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    /* background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #3f3c3c, #fa616e, #424241, #f15075, #dbdbab); */
    /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: all .9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .9 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .9 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .9 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .9 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front {
    padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    /* background-color: transparent; */
    /* box-shadow: transparent; */
}

.card__back {
    padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo {
    position: absolute;
    top: 18px;
    right: 18px;
}

.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(3, 3, 3, 0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}

.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.card__secret:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 42px);
    border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.GOLD {
    background: linear-gradient(to right bottom, #f0f09b, #dddd98, #cfcf65, #f0f09b, #c9c9b2);
}

.SILVER {
    background: linear-gradient(to right bottom, #d1cccc, #d5e8f3, #d6dcdf, #cac6c6, #aaa6a6);
}

.TITANIUM {
    background: linear-gradient(to right bottom, #6bb1eb, #557d9e, #7c94a8, #6bb1eb, #caddec);
}


/* CARD */