* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: lighter;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-weight: lighter;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ffffff, #ffffff);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
    border-radius: 15px;
    border: 2px solid #033B80;
    box-shadow: #f0f0f0;
}

.signin-singup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form .sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form .sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.btnIndex1 {
    border-radius: 0.5rem !important;
    border: 2px solid #033B80 !important;
}

.sign-up-formm {
    margin: 5px !important;
}

.title {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 10px 0;
    border: 2px solid #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field svg {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #033B80;
}

.btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: #033B80;
    font-weight: bolder;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    /* border: 2px solid #033B80; */
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(243, 231, 127, 0.3), 0 6px 20px 0 rgba(245, 239, 153, 0.3);
    font-weight: #f5f6f7;
    font-size: 15px;
}

.btn:hover {
    background: #4390d8;
}

.social-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #ffffff;
}

.returnHome {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #ffffff;
}

.returnHome:hover {
    color: #4390d8;
    border-color: #4390d8;
}

.returnHome2 {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.returnHome2:hover {
    color: #4390d8;
    border-color: #4390d8;
}

.social-text2 {
    margin-top: 50px;
    font-size: 16px;
    color: #ffffff;
}

.social-text2:hover {
    color: #4390d8;
    border-color: #4390d8;
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icon {
    /* height: 45px;
    width: 45px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    /* border: 1px solid #444;
    border-radius: 50px; */
    margin: 0 5px;
    /* border: 2px solid #033B80; */
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(243, 231, 127, 0.3), 0 6px 20px 0 rgba(245, 239, 153, 0.3);
    font-weight: #f5f6f7;
}

a {
    text-decoration: none;
}

.social-icon:hover {
    color: #c03cc0;
    border-color: #c03cc0;
    background-color: #2496e2;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    z-index: 6;
    text-align: center;
}

.left-panel {
    pointer-events: none;
}

.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
    color: #033B80;
    margin-bottom: 15px;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
    border-radius: 15px;
    margin-bottom: 30px;
    background: lighter;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(243, 231, 127, 0.3), 0 6px 20px 0 rgba(245, 239, 153, 0.3);
    font-weight: #f5f6f7;
}


/* ANIMATION */

.container.sign-up-mode::before {
    transform: translateX(0);
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
    color: #033B80;
    width: 100%;
    text-align: center;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}


/* #022753; */

.sign-in-form {
    background-color: #022753;
}

.signin-singup {
    background-color: #022753;
    ;
}


/* RESPONSIVE */

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .returnHome {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}


/* .btnPrueba::after {
    content: "";
    width: 100%;
    height: 300px;
    background-color: #02227a;
    position: absolute;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: .3s ease-in-out all;
    border-radius: 0px 0px 300px 300px;
    overflow: hidden;
}

.btnPrueba:hover::after {
    top: 0;
} */